{% extends 'base.html' %}

{% block staticfiles %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
<style>
	a { color: #337AB7; }
	.mdl-badge[data-badge]:after { background: #337AB7; }
</style>

	{% if 'member' in request.session%}
		<script type="text/javascript">
		$(document).ready(function() {
			 $('#board-write').attr('href','/board/write?category_id={{category.category_id}}');
			 console.log('member');
		});
		 </script>
	{%else%}
		<script type="text/javascript">
		$(document).ready(function() {
			$('#board-write').click(function(){
				alert("로그인을 먼저 해주세요");
			});
		});
		</script>
	{% endif %}
{% endblock staticfiles %}

{% block contents %}
<!-- <div style="margin:25px;"></div> -->
<div class="container">
	<ol id="breadcrumb" class="breadcrumb">
		<li><a href="index.html">Home</a></li>
		<li class="active">{{ category.category_name }}</a></li>
	</ol>
	<div id="sidebar" class="col-md-3">
		<div style="margin:32px;"></div>
		{% if 'notice' in category.category_name %}
		<div class="list-group">
			<a href="/board/notice/9?page=1" class="list-group-item">
				교내 공지
			</a>
			<a href="/board/notice/8?page=1" class="list-group-item">과내 공지</a>
		</div>
		{% elif 'Tip' in category.category_name or 'tip' in category.category_name %}
		<div class="list-group">
			<a href="/board/tip/6?page=1" class="list-group-item">
				개발 팁
			</a>
			<a href="/board/tip/7?page=1" class="list-group-item">취업 팁</a>
		</div>
		{% endif %}
		<div class="list-group">
			<a href="" id="board-write" class="list-group-item btn-write"><i class="fa fa-pencil-square-o fa-fw"></i>&nbsp; 글쓰기</a>
		</div>
	</div>
	<div class="col-md-9">
		<table class="table table-hover">
            <colgroup>
                <col width="7%">
                <col width="*">
                <col width="20%">
                <col width="10%">
            </colgroup>
			<thead>
				<tr>
					<th>글번호</th>
					<th class="board_title">제목</th>
                    <th class="board_date">날짜</th>
					<th>작성자</th>
				</tr>
			</thead>
			<tbody>
				{% for free in posts %}
				<tr>
					<td>{{ free.post_id }}</td>
					<td><a href="/board/post/{{ free.post_id }}#post-contents">{{ free.title }}</a>
						{% if free.created_date.date == today %}
							<span class="label label-danger">N</span>
						{% endif %}
						{% if free.comments.count > 0 %}
							<span class="mdl-badge" id="cntcomment" data-badge="{{ free.comments.count }}" style="position: relative; float:middle;">댓글</span>
						{% endif %}
					</td>
                    <td class="board_date">{{ free.created_date }}</td>
					<td>{{ free.user_id }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<nav class="board_page">
			<ul class="pagination">
				{% if posts.has_previous %}
				<!-- if previous page exist -->
				<li>
					<a href="?page= {{ posts.previous_page_number }}" aria-label="Previouos">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				{% else %}
				<li class="disabled">
					<a href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				{% endif %}
				<!--<li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>-->

				<li><a href="#">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</a></li>
				{% if posts.has_next %}
				<li>
					<a href="?page={{ posts.next_page_number }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
				{% else %}
				<!-- if next page doesn't exist -->
				{% endif %}
			</ul>
		</nav>
	</div>
</div>
{% endblock contents %}