<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta charset="UTF-8">
	<title>Hyuis-정보시스템학과 커뮤니티</title>
	<link rel="stylesheet" href="./css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="./css/bootstrap.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
	<script type="text/javascript" src="file.js"> </script>
	<script type="text/javascript" src="board_header.js"></script>
	<div class="container">
		<ul class="nav nav-tabs">
			<li class="active" role="presentation"><a href="board.html">공지</a></li>
			<li role="presentation"><a href="board.html">자유</a></li>
			<li role="presentation"><a href="board.html">새내기</a></li>
			<li role="presentation"><a href="review.html">후기</a></li>
		</ul>
		<ol id="breadcrumb" class="breadcrumb">
		  <li><a href="index.html">Home</a></li>
		  <li><a href="board.html">공지</a></li>
		  <li><a href="board.html">교내 공지</a></li>
		  <li class="active">일반대학원 2016학년도 1학기 재입학 안내 (확정)</li>
		</ol>
	</div>
	<div class="container">
		<div class="col-md-8 col-md-offset-2">
			<div id="title" class="page-header">
				<h2>일반대학원 2016학년도 1학기 재입학 안내 (확정)<br><small>2016-01-05 post by 서울 교학부총장 대학원팀 / 조영주</small>
			</h2>
			</div>
			<div style="margin:25px;"></div>
			<div id="post">
				<h3>신청 및 서류제출기간 <small>2016. 1. 11(월) ~ 1. 15(금) 17:00 까지</small></h3>
				<p>신청기간 외에는 절대 추가신청 및 서류제출 불가</p>
				<h4>신청방법</h4>
				<ol>
					<li>한양인 (HY-in) 로그인</li>
					<li>로그인 후 상단메뉴 [신청] ➜ [학적변동] ➜ [재입학신청] 선택</li>
					<li>해당화면에서 “재입학사유” 상세입력 및 저장</li>
					<li>“출력” 버튼을 클릭하여 재입학원서 출력</li>
					<li>출력한 ”재입학원서” 및 추가 제출서류를 대학원팀으로 제출</li>
				</ol>

				<h4>서류 제출방법</h4>
				<dl>
					<dt>제출장소</dt>
					<dd>일반대학원 대학원팀 (신본관 3층 314호) T. 02-2220-0223</dd>
				</dl>
				<dl><dt>제출시간</dt><dd>월-금 10:00 – 17:00</dd></dl>
				<br>
				<h3>재입학 합격자 발표</h3>
				<dl class="dl-horizontal"><dt>재입학 합격발표</dt><dd> 2016. 2. 1(월) 예정</dd></dl>
				<dl class="dl-horizontal"><dt>재입학 합격확인</dt>
				<dd>한양대학교 웹사이트 ➜ 한양인(HY-in) 로그인 ➜ 상단 ‘신청’ 메뉴 ➜ 학적변동 ➜ 재입학신청 ➜ 화면하단 ‘변동내역확인’ 중 ‘재입학’ 결재결과 확인 ➜ 재입학 합격자는 결재결과란에 ‘결재’ 표시</dd>
			</div>
		</div>
	</div>
	<div id="reply" class="container">
		<hr>
		<form method="post" action="#">
			<p><textarea class="form-control" rows="3" placeholder="댓글을 남겨주세요"></textarea></p>
			<p class="text-right"><button type="submit" class="btn btn-primary">Reply</button></p>
		</form>
		<hr>
		<div class="panel panel-default">
			<div class="panel-body">
				<p>차한솔</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident qui amet molestias sit possimus repellat labore deleniti aliquam laboriosam iusto corrupti quidem ullam commodi ex est, consequuntur quibusdam quae!</p>
				<p class="gray-light">작성일:2016-01-05</p>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<p>차한솔</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident qui amet molestias sit possimus repellat labore deleniti aliquam laboriosam iusto corrupti quidem ullam commodi ex est, consequuntur quibusdam quae!</p>
				<p class="gray-light">작성일:2016-01-05</p>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<p>차한솔</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident qui amet molestias sit possimus repellat labore deleniti aliquam laboriosam iusto corrupti quidem ullam commodi ex est, consequuntur quibusdam quae!</p>
				<p class="gray-light">작성일:2016-01-05</p>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<p>차한솔</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident qui amet molestias sit possimus repellat labore deleniti aliquam laboriosam iusto corrupti quidem ullam commodi ex est, consequuntur quibusdam quae!</p>
				<p class="gray-light">작성일:2016-01-05</p>
			</div>
		</div>
	</div>
	<div class="container">
		<hr>
		<div>
			<table class="table table-hover">
			<thead>
				<tr>
				<th>글번호</th>
					<th class="board_title">제목</th>
					<th>작성자</th>
				</tr></thead>
				<tbody>
				<tr class="active">
					<td>10</td>
					<td><a href="post.html">경영대학 선거관리 위원회 공고문</a></td>
					<td>15 과대</td>
				</tr>
				<tr>
					<td>9</td>
					<td><a href="">경영대학 선거관리 위원회 공고문</a></td>
					<td>15 과대</td>
				</tr>
				<tr>
					<td>8</td>
					<td><a href="">경영대학 선거관리 위원회 공고문</a></td>
					<td>15 과대</td>
				</tr>
				<tr>
					<td>7</td>
					<td><a href="">경영대학 선거관리 위원회 공고문</a></td>
					<td>15 과대</td>
				</tr>
				<tr>
					<td>6</td>
					<td><a href="">경영대학 선거관리 위원회 공고문</a></td>
					<td>15 과대</td>
				</tr>
				<tr>
					<td>5</td>
					<td><a href="">경영대학 선거관리 위원회 공고문</a></td>
					<td>15 과대</td>
				</tr>
				<tr>
					<td>4</td>
					<td><a href="">경영대학 선거관리 위원회 공고문</a></td>
					<td>15 과대</td>
				</tr>
				<tr>
					<td>3</td>
					<td><a href="">경영대학 선거관리 위원회 공고문</a></td>
					<td>15 과대</td>
				</tr>
				<tr>
					<td>2</td>
					<td><a href="">경영대학 선거관리 위원회 공고문</a></td>
					<td>15 과대</td>
				</tr>
				<tr>
					<td>1</td>
					<td><a href="">경영대학 선거관리 위원회 공고문</a></td>
					<td>15 과대</td>
				</tr>
				</tbody>
			</table>
			<nav class="board_page">
			  <ul class="pagination">
			    <li class="disabled">
			      <a href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li>
			      <a href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<p class="text-muted text-center">Copyright(c)2016 All rights reserved by Tomatina, Information System Department in HYU</p>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	    <script src="./js/bootstrap.min.js"></script>
	</footer>
</body>
</html>