{% extends 'post_base.html' %}

{% block preview %}
	{% load staticfiles %}
<!--
	<div class="container main_image">
		<div class="row">
		  <div class="col-md-3 col-sm-6 thumb-group"><a href="review_post.html" class="thumbnail">
			<div class="thumbnail-title">
		    	<p class="text-center">2016-01-01</p>
		    	<p class="text-center">새내기배움터</p>
		    </div>
		      <img src="{% static 'images/dummy_image.jpg' %}" alt="...">
		    </a>
		  </div>
		   <div class="col-md-3 col-sm-6 thumb-group"><a href="review_post.html" class="thumbnail">
			<div class="thumbnail-title">
		    	<p class="text-center">2016-01-01</p>
		    	<p class="text-center">새내기배움터</p>
		    </div>
		      <img src="{% static 'images/dummy_image.jpg' %}" alt="...">
		    </a>
		  </div>
		   <div class="col-md-3 col-sm-6 thumb-group"><a href="review_post.html" class="thumbnail">
			<div class="thumbnail-title">
		    	<p class="text-center">2016-01-01</p>
		    	<p class="text-center">새내기배움터</p>
		    </div>
		      <img src="{% static 'images/dummy_image.jpg' %}" alt="...">
		    </a>
		  </div>
		   <div class="col-md-3 col-sm-6 thumb-group"><a href="review_post.html" class="thumbnail">
			<div class="thumbnail-title">
		    	<p class="text-center">2016-01-01</p>
		    	<p class="text-center">새내기배움터</p>
		    </div>
		      <img src="{% static 'images/dummy_image.jpg' %}" alt="...">
		    </a>
		  </div>
		</div>
	</div>-->

{% endblock preview %}