{% extends 'base.html' %}

{% block contents %}
<div class="container">
	<ol class="breadcrumb" class="breadcrumb">
		<li><a href="index.html">Home</a></li>
		<li class="active">후기</a></li>
	</ol>
</div>
<div class="container">
	<div class="row clearfix">
		<ul class="br-thumb">
			{% for review in reviews %}
			{% load staticfiles %}
			<li>
				<a href="/board/post/{{ review.post_id }}" class="thumbnail">
					<div class="thumbnail-title">
						<p class="text-center">{{ review.post_id.created_date }}</p>
						<p class="text-center">{{ review.post_id.title }}</p>
					</div>
					<img class="review-img" src="{{ review.image }}" alt="...">
				</a>
			</li>
			{% endfor %}
			<script type="text/javascript">
			$(document).ready(function(e) {
			    $(".thumbnail-title").each(function() {
			        var img=$(this).parent('.thumbnail').children('img')
					var imgHeight=img[0].clientHeight;
			        $(this).outerHeight(imgHeight)
			    });
				//li의 height를 제일 큰 이미지에 맞추는 javascript짜기
			});
			</script>
		</ul>
	</div>
	<nav class="board_page">
		<ul class="pagination">
			{% if reviews.has_previous %}
			<!-- if previous page exist -->
			<li>
				<a href="?page= {{ reviews.previous_page_number }}" aria-label="Previouos">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			{% else %}
			<li class="disabled">
				<a href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			{% endif %}
			<!--<li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>-->

			<li><a href="#">Page {{ reviews.number }} of {{ reviews.paginator.num_pages }}</a></li>
			{% if reviews.has_next %}
			<li>
				<a href="?page={{ reviews.next_page_number }}" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
			{% else %}
			<!-- if next page doesn't exist -->
			{% endif %}
		</ul>
	</nav>
</div>

{% endblock contents %}

