@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url( "http://fonts.googleapis.com/earlyaccess/notosanskr.css" );

html {
    }
body{
	font-family: "Jeju Gothic","Nanum Gothic", sans-serif;
	padding-top: 50px;}

ul{
	list-style-type: none;
}

#login-menu{
	min-width:225px;
}

#login-input{
	border:0;
	border-bottom:1px solid #555;
	display: block;
	  width: 100%;
	  height: 34px;
	  padding: 6px 12px;
	  font-size: 14px;
	  line-height: 1.42857143;
	  color: #555;
	  background-color: #fff;
	  background-image: none;
	  margin:10px;
	}

#login-btn{
	margin-left: 10px;
	width:85%;
	border-radius: 0;
}

.login-alpa{
	margin:10px;
}

.login-alpa a:link,
.login-alpa a:visited{
	color:#555;
}

.jumbotron{
	background: url(../images/dummy_image.jpg) no-repeat center center fixed;
	background-size: cover;
}

.jumbotron h1,.jumbotron h2, .jumbotron h3,.jumbotron p {color:#fff}

.jumbotron a{
	color:#fff;
}

.board_page{
	text-align: center;
}

.board_title{
	text-align: center;
}

.footer{
	width:100%;
	height:100px;
	background-color:#f5f5f5; 
}

.container>.text-muted{
	margin-top:20px;
}

.container td>a{
	color:#333;
}

#board_header{
	text-align: center
}

.main_image{
	margin-bottom: 25px
}

#breadcrumb{
	background-color: #fff;
	margin-bottom: 0;
	padding-bottom: 0;
}

#sidebar{
	padding-left: 0
}

#title{
	font-family: "Noto Sans KR";
	margin-top: 30px;
}

#post{
	/*font-family: 'Noto Sans Korea', sans-serif;*/
	/*font-weight: 500;*/
	font-family: "Nanum Gothic";
	font-size: 16px;
	font-weight:500;
}


#reply{
	font-family: "Nanum Gothic";}

.gray-light{
	color: #777;
}

.thumbnail{
	/*position: absolute;*/
	border:0;
	padding:0;
	/*opacity: 0.7;*/
	margin:0;
}

.list-thumb{
	margin-bottom: 20px
}

.list-thumb:hover,
.list-thumb:focus{
	opacity:0.7;
}
/*
.main_thumb{
	background-color: #000;
	padding:0;
	z-index: 5;
}*/

.thumbnail-title{
	position: absolute;
	background-color: #000;
	width: 100%;
/*	height: 100%;
*/	/*opacity: 0.2;*/
	opacity: 0;
	border-right:30px solid #fff;
	padding-top:20%;
}

.thumbnail-title p{
	color:#fff;
	opacity: 1;
}

.thumbnail-title:hover,
.thumbnail-title:focus{
	opacity: 0.5;
}

.thumb-group{
	margin-bottom: 30px;
}

.review-con a,
.review-con a:link,
.review-con a:visited{
	color:#444;
}

.review-con a:hover,
.review-con a:focus{
	color:#999;
	text-decoration: none;
}

#review-list{
	margin-left: 8%;
}

.rg-bg{
	margin-top: 500px;
	width:100%;
	background: url(../images/dummy_image.jpg) no-repeat fixed center center/100% 100%;
}

/*register*/

.register-back{
	background-color: #f8f8f8;
}

.register-wrap{
	margin:0 auto;
}

.brand-name{
	font-weight: bold;
	text-align: center;
	padding:30px 0px;
}

.form-reg li{
	padding-top:10px;
	padding-left:20%;
}

.form-reg li .form-control{
	width:70%;
	padding-left:15px;
	height:  40px;
	font-size: 15px;
}

.form-reg li textarea.form-control{
	height: 200px;
}

.form-reg li button{
	margin-left:30%;
	height:50px;
	width:100px;
}

a.btn-write{
	color:#fff;
	background-color: #337ab7
}

/*post write*/

.form-write{
	width:100%;
	height:400px;
	border: 1px solid #333;
}

/*board review*/
.br-thumb{
	float: left;
}

.br-thumb li{
	width:25%;
	float: left;
}

span.thumbnail-title{
	display: inline-block;
}