{% extends 'common.html' %}
{% block base %}
<div class="container register-back">
	<h1 class="brand-name"><a href="/">HYUIS</a></h1>
	<div class="container">
		<ul class="nav nav-tabs mypage-nav-wrap">
			<li role="presentation"><a href="/authen/modify">정보수정</a></li>
			<li role="presentation"><a href="/authen/myposts">내가 쓴 글</a></li>
		</ul>
	</div>

	<!--contents-->
	{% block mypage_contents%}
	{% endblock mypage_contents%}
</div>
<script type="text/javascript">
	$('body').css({
		"paddingTop":0
	})
	$('.register-back').width($(window).width());
	$('.register-back').height($(window).height()-100);
</script>
{% endblock base %}