{% extends 'base.html' %}

{% block contents %}
	<div class="container">
		<div class="col-md-6">
			<h3 class="tit-index-li"><a href="/board/notice/1?page=1">공지사항</a> </h3>
			<table class="table table-hover">
				{% for notice in notices %}
				<tr>
					<td class="li-tit"><a href="/board/post/{{ notice.post_id }}#post-contents">{{ notice.title }}</a>
						{% if notice.created_date.date == today %}
						<span class="label label-danger">N</span></td>
						{% endif %}
                    <td class="li-small">{{ notice.user_id }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="col-md-6">
			<h3 class="tit-index-li"><a href="/board/notice/2?page=1"> 자유게시판</a></h3>
			<table class="table table-hover li-index">
				{% for free in frees %}
				<tr>
					<td class="li-tit"><a href="/board/post/{{ free.post_id }}#post-contents">{{ free.title }}</a>
						{% if free.created_date.date == today %}
						<span class="label label-danger">N</span></td>
						{% endif %}
                    <td class="li-small">{{ free.user_id }}</td>
				</tr>
                {% endfor %}
			</table>
		</div>
	</div>
	<br />
	<br />
	<div class="container main_image">
		<h3><a href="/board/review/1?page=1">후기</a></h3>
		<div class="row">
		  {% load staticfiles %}
			{% for review in reviews %}
  			<div class="col-md-3 col-sm-6 thumb-group">
   				<a href="/board/post/{{ review.post_id }}" class="thumbnail">
					<div class="thumbnail-title">
						<p class="text-center">{{ review.post_id.created_date }}</p>
						<p class="text-center">{{ review.post_id.title }}</p>
					</div>
					<img src="{{ review.image }}" alt="...">
				</a>
			</div>
  			{% endfor %}

		</div>
	</div>

{% endblock contents %}