<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta charset="UTF-8">
	<title>Hyuis-정보시스템학과 커뮤니티</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>

	<script type="text/javascript" src="file.js"> </script>

</body>

</html>

