<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta charset="UTF-8">
	<title>Hyuis-정보시스템학과 커뮤니티</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
	<script type="text/javascript" src="file.js"> </script>
	<script type="text/javascript" src="board_header.js"></script>
	<div class="container">
		<table class="table table-hover">
		<thead>
			<tr>
			<th>글번호</th>
				<th class="board_title">제목</th>
				<th>작성자</th>
			</tr></thead>
			<tbody>
			<tr>
				<td>10</td>
				<td><a href="">경영대학 선거관리 위원회 공고문</a></td>
				<td>15 과대</td>
			</tr>
			<tr>
				<td>9</td>
				<td><a href="">경영대학 선거관리 위원회 공고문</a></td>
				<td>15 과대</td>
			</tr>
			<tr>
				<td>8</td>
				<td><a href="">경영대학 선거관리 위원회 공고문</a></td>
				<td>15 과대</td>
			</tr>
			<tr>
				<td>7</td>
				<td><a href="">경영대학 선거관리 위원회 공고문</a></td>
				<td>15 과대</td>
			</tr>
			<tr>
				<td>6</td>
				<td><a href="">경영대학 선거관리 위원회 공고문</a></td>
				<td>15 과대</td>
			</tr>
			<tr>
				<td>5</td>
				<td><a href="">경영대학 선거관리 위원회 공고문</a></td>
				<td>15 과대</td>
			</tr>
			<tr>
				<td>4</td>
				<td><a href="">경영대학 선거관리 위원회 공고문</a></td>
				<td>15 과대</td>
			</tr>
			<tr>
				<td>3</td>
				<td><a href="">경영대학 선거관리 위원회 공고문</a></td>
				<td>15 과대</td>
			</tr>
			<tr>
				<td>2</td>
				<td><a href="">경영대학 선거관리 위원회 공고문</a></td>
				<td>15 과대</td>
			</tr>
			<tr>
				<td>1</td>
				<td><a href="">경영대학 선거관리 위원회 공고문</a></td>
				<td>15 과대</td>
			</tr>
			</tbody>
		</table>
		<nav class="board_page">
		  <ul class="pagination">
		    <li class="disabled">
		      <a href="#" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li>
		      <a href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</div>
	<footer class="footer">
		<div class="container">
			<p class="text-muted text-center">Copyright(c)2016 All rights reserved by Tomatina, Information System Department in HYU</p>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	    <script src="../js/bootstrap.min.js"></script>
	</footer>
</body>

</html>

