<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta charset="UTF-8">
	<title>Hyuis-정보시스템학과 커뮤니티</title>

	<link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<script src="http://code.jquery.com/jquery-latest.js">	</script>
</head>
<body>
	<script type="text/javascript" src="file.js"> </script>
	<script type="text/javascript" src="board_header.js"></script>
	<div class="container">
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="board.html">공지</a></li>
			<li role="presentation"><a href="board.html">자유</a></li>
			<li role="presentation"><a href="board.html">새내기</a></li>
			<li class="active" role="presentation"><a href="review.html">후기</a></li>
		</ul>
	</div><!-- 
	<div style="margin:25px;"></div> -->
	<div class="container">
		<ol id="breadcrumb" class="breadcrumb">
		    <li><a href="main.html">Home</a></li>
		    <li class="active">후기</a></li>
		</ol>
	</div>
	<div style="margin:25px;"></div>
	<div class="container">
		<div class="row">
		    <div class="col-md-4">
		        <a href="#" class="thumbnail list-thumb">
		        <img class="media-object" src="스토커.jpg" alt="...">
		        </a>
		    </div>
	  		<div class="col-md-8 text-justify">
			    <h4 class="media-heading">Middle aligned media</h4>
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed cum saepe possimus, vero mollitia nulla ex placeat aspernatur veniam laborum nihil voluptatem exercitationem! Ratione voluptas non, fuga animi, adipisci sit?<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam facere incidunt delectus cum, eos! Molestias veniam possimus ex sunt qui minus neque a, repudiandae cupiditate dolore quod. Qui totam, asperiores.</span>
			    <span>Dolor dolore quos excepturi facilis quae, possimus facere minus libero, dolores, eligendi eos repellat error! Reiciendis quod necessitatibus debitis libero tempore, voluptatum asperiores hic sit, nulla, provident magni impedit sed.</span>
			    <span>Atque vitae nostrum iure, necessitatibus quae accusantium voluptat...</span></p>
	  		</div>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<p class="text-muted text-center">Copyright(c)2016 All rights reserved by Tomatina, Information System Department in HYU</p>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	    <script src="../js/bootstrap.min.js"></script>
	</footer>
</body>
</html>